<!doctype html>
<html ng-app="PortfolioApp">
<head>
  <!-- META
  ================================================== -->
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="description" content="">
  <meta name="author" content="">
  <link rel="icon" href="stylesheets/icons/favicon.ico">
  <title>PortfolioApp &middot; Showcase your projects</title>

  <!-- Angular JS
  ================================================== -->
  <!-- Including Angular JS -->
  <script type="text/javascript" src="validator.min.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.3.16/angular-route.min.js"></script>
  <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/angular-ui-bootstrap/0.10.0/ui-bootstrap-tpls.min.js"></script>
  <!-- Including main module -->
  <script src="components/appMain.js"></script>
  <!-- Including route modules -->
  <script src="components/appRoutes.js"></script>
  <!-- Including services to be loaded -->
  <script src="components/home/homeController.js"></script>
  <script src="components/login/loginController.js"></script>
  <script src="components/signup/signupController.js"></script>
  <script src="components/contact/contactController.js"></script>
  <script src="components/profile/profileController.js"></script>
  <!-- Including reusable services to be used by app -->
  <script src="components/services/session/SessionServices.js"></script>
  <script src="components/services/validation/AuthValid.js"></script>
  
  <!-- Bootstrap core CSS
  ================================================== -->
  <link href="stylesheets/css/bootstrap.min.css" rel="stylesheet">
  <link href="stylesheets/css/loginTemplate.css" rel="stylesheet">
  <link href="stylesheets/css/contactTemplate.css" rel="stylesheet">
  <link href="stylesheets/css/profileTemplate.css" rel="stylesheet">
  <link href="stylesheets/css/bootstrapCustom.css" rel="stylesheet">
  <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
  <link href="stylesheets/css/ie10-viewport-bug-workaround.css" rel="stylesheet">
  <script src="stylesheets/css/ie-emulation-modes-warning.js"></script>
  <!-- Custom styles for this template -->
  <link href="stylesheets/css/carousel.css" rel="stylesheet">

  <!-- Bootstrap core JavaScript
  ================================================== -->
  <!-- Placed at the end of the document so the pages load faster -->
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
  <script>window.jQuery || document.write('<script src="../../assets/js/vendor/jquery.min.js"><\/script>')</script>
  <script src="stylesheets/js/bootstrap.min.js"></script>
  <!-- Just to make our placeholder images work. Don't actually copy the next line! -->
  <script src="stylesheets/js/holder.min.js"></script>
  <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
  <script src="stylesheets/js/ie10-viewport-bug-workaround.js"></script>

  <!-- Navbar HTML 
  ================================================== -->
  <div class="navbar-wrapper" >
      <nav class="navbar navbar-inverse" role="navigation">
          <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-  expanded="false" aria-controls="navbar">
              <span class="sr-only">Toggle navigation</span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#/">PortfolioApp</a>
          </div>
          <div id="navbar" class="navbar-collapse collapse">
            <ul class="nav navbar-nav">
              <li class="dropdown">
                <a class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">More<span class="caret"></span></a>
                <ul class="dropdown-menu">
                  <li><a href="#about">About</a></li>
                  <li><a href="#contact">Contact</a></li>
                  <li role="separator" class="divider"></li>
                  <!--
                  <li class="dropdown-header">Nav header</li>
                  -->
                </ul>
              </li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
              <li><a href="#login" class="glyphicon glyphicon-log-in" ng-show="!authenticatedUser.authStatus"> Signin</a></li>
              <li><a href="#signup" class="glyphicon glyphicon-user" ng-show="!authenticatedUser.authStatus"> Signup</a></li>
              <li> <a href="#profile" class="glyphicon glyphicon-user" ng-show="authenticatedUser.authStatus">{{authenticatedUser.username}}</a></li>
              <li><a href="" class="glyphicon glyphicon-modal-window authenticatedUser.authStatus" ng-show="authenticatedUser.authStatus" ng-click="signUserOut()"> Signout</a></li>
            </ul>
          </div>
      </nav>
  </div>
</head>

<body>
  <div ng-view onload="viewLoaded()">
    <!-- Template loader -->
  </div>
</body>

<footer>
  <p>&copy; 2016 PortfolioApp Inc. &middot; <a href="#privacy">Privacy</a> &middot; <a href="#terms">Terms</a></p>
</footer>

</html>
