<!-- FlatFy Theme - Andrea Galanti /-->
<!doctype html>
<!--[if lt IE 7]> <html class="no-js ie6 oldie" lang="en"> <![endif]-->
<!--[if IE 7]>    <html class="no-js ie7 oldie" lang="en"> <![endif]-->
<!--[if IE 8]>    <html class="no-js ie8 oldie" lang="en"> <![endif]-->
<!--[if IE 9]>    <html class="no-js ie9" lang="en"> <![endif]-->
<!--[if gt IE 9]><!-->
<html ng-app="PortfolioApp"> <!--<![endif]-->
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0">
  <title>PortfolioApp - Create and showcase your work for free!</title>
  <!-- Bootstrap core CSS -->
  <link href="design/css/bootstrap.min.css" rel="stylesheet">
  <!-- Custom Google Web Font -->
  <link href="design/font-awesome/css/font-awesome.min.css" rel="stylesheet">
  <link href='http://fonts.googleapis.com/css?family=Lato:100,300,400,700,900,100italic,300italic,400italic,700italic,900italic' rel='stylesheet' type='text/css'>
  <link href='http://fonts.googleapis.com/css?family=Arvo:400,700' rel='stylesheet' type='text/css'>
 <!-- Angular Material requires Angular.js Libraries -->
 <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script>
 <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.3.16/angular-route.min.js"></script>
 <!--
 <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular-aria.min.js"></script>
 <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular-messages.min.js"></script>
 -->
 <!-- Including main module -->
 <script src="components/appMain.js"></script>
 <!-- Including route modules -->
 <script src="components/appRoutes.js"></script>
 <!-- Including services to be loaded -->
 <script src="components/home/homeController.js"></script>
 <script src="components/login/loginController.js"></script>
 <!--[if IE 9]>
   <script src="design/js/ PIE_IE9.js"></script>
 <![endif]-->
 <!--[if lt IE 9]>
   <script src="design/js/ PIE_IE678.js"></script>
 <![endif]-->
 <!--[if lt IE 9]>
   <script src="design/js/ html5shiv.js"></script>
 <![endif]-->
</head>
<body>
<div ng-view>
<!-- Template loader -->
</div>
</body>
<footer>
</footer>
</html>
